  
<h1><%= @task.title %></h1>

<p><%= @task.details %></p>
<%= link_to 'Back to list', tasks_path %>
<%= link_to 'edit', edit_path %>
 <%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
